<html lang="en-US">
	<head>
		<script src='http://static.opentok.com/v2/js/opentok.min.js'></script>
		
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/js/ngDialog.js"></script>
        <script src="lib/angular/js/myapp.js"></script>
		<link rel="stylesheet" type="text/css" href="lib/angular/css/ngDialog.css" />
		<link rel="stylesheet" href="lib/angular/css/ngDialog.css">
	    <link rel="stylesheet" href="lib/angular/css/ngDialog-theme-default.css">
	    <link rel="stylesheet" href="lib/angular/css/ngDialog-theme-plain.css">
	    <link rel="stylesheet" href="lib/angular/css/ngDialog-custom-width.css">
		<link rel="stylesheet" type="text/css" href="css/testopentok.css" />

		<title>Call Page</title>
	</head>

	<body>
		<div ng-app="CallApp" ng-controller="CallCtrl">
		
			<button ng-click="loginUser1()" ng-show="isLogin == false">Login user1</button>
			<button ng-click="loginUser2()" ng-show="isLogin == false">Login user2</button>
			<h1>{{loginInf}}</h1>
			<button ng-click="call()" ng-disabled="isTalking == true" ng-show="isOnline == true">Call</button>
            <button ng-click="endCall()"  ng-show="isTalking == true">End Call</button>

	    	<div id="videos">
				<div id="subscriber" class="subscriber"></div>
				<div id="publisher" class="publisher"></div>
		    </div>
			

            <script type="text/ng-template" id="callingDialog">
		        <div class="ngdialog-message">
		            <h3>Calling</h3>
		            <img src="image/phone.gif"/>
		        </div>
		        <div class="ngdialog-buttons">
		            <button type="button" class="ngdialog-button ngdialog-button-secondary"  ng-click="cancelCallingDialog()">Cancel</button>
		        </div>
			</script>



			<script type="text/ng-template" id="outComingCallDialogId">
		        <div class="ngdialog-message">
		            <h3>In calling...</h3>
		            <img src="image/phone.gif"/>
		        </div>
		        <div class="ngdialog-buttons">
					<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="acceptCall()">Accept</button>
		            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="rejectCall()">Cancel</button>
		        </div>
			</script>
		</div>
	</body>
</html>