<html lang="en-US">
	<head>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/js/ngDialog.js"></script>

		<link rel="stylesheet" type="text/css" href="lib/angular/css/ngDialog.css" />
		<link rel="stylesheet" href="lib/angular/css/ngDialog.css">
	    <link rel="stylesheet" href="lib/angular/css/ngDialog-theme-default.css">
	    <link rel="stylesheet" href="lib/angular/css/ngDialog-theme-plain.css">
	    <link rel="stylesheet" href="lib/angular/css/ngDialog-custom-width.css">

		<title>Call Page</title>
		
		<script>
			var app = angular.module('CallApp', ['ngDialog']);
			app.controller('CallCtrl', function ($scope, ngDialog) {
				var dialog;

			    $scope.call = function () {
				    var dialog = ngDialog.openConfirm({
	                    template: 'modalDialogId',
	                    className: 'ngdialog-theme-default',
	                    preCloseCallback: 'preCloseCallbackOnScope',
	                    scope: $scope
	                }).then(function (value) {
	                    console.log('Modal promise resolved. Value: ', value);
	                }, function (reason) {
	                    console.log('Modal promise rejected. Reason: ', reason);
	                });

					// dialog = ngDialog.open({
		   //                  template: '<p>Just passing through!</p>',
		   //                  plain: true,
		   //                  closeByDocument: false,
		   //                  closeByEscape: false
		   //              });
		   //              setTimeout(function () {
		   //                  dialog.close();
	    //             	}, 2000);
				};
			});
		</script>
	</head>
	<body>		
		<div ng-app="CallApp" ng-controller="CallCtrl">
			<button ng-click="call()">Call</button>

			<script type="text/ng-template" id="callingModalDialogId">
		        <div class="ngdialog-message">
		            <h3>Calling</h3>
		            <img src="image/phone.gif"/>
		        </div>
		        <div class="ngdialog-buttons">
		            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(confirmValue)">Accept</button>
		            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
		        </div>
		    </script>
		</div>
	</body>
</html>