.subscriber {
	width: 200px !important;
	height: 200px !important;
	float: right;
	background-color: green;
	position: fixed;
	top: 10px;
	right: 10px;
}

.publisher {
	float: left;
	background-color: green;
	width: 200px !important;
	height: 200px !important;
	position: fixed;
	bottom: 10px;
	left: 10px;
}